.header {
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: center;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.container {
  width: 960px;
  margin: auto;
  padding-top: 100px;
}

.color_input {
  margin-top: -50px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 300px;
}

.color_sample {
  position: relative;
  margin-top: 5%;
  left: 51%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 300px;
}

.color_output {
  margin-top: -10px;
  margin-left: 5%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 300px;
  font-size: 20px;
}
