.header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  text-align: center;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
}

.color_sample {
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 300px;
}

.color_input {
  position: fixed;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.color_output {
  position: fixed;
  top: 420px;
  left: 52%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 300px;
  font-size: 20px;
}
